@inject IMediaLibraryApiWrapper MediaLibraryApi

<Modal @ref="_actorModal">
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Новый исполнитель</ModalTitle>
                <CloseButton Clicked="CloseActorModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel>Имя исполнителя</FieldLabel>
                    <InputText @bind-Value="_newActor.Name" />
                </Field>
                <Field>
                    <FieldLabel>Описание исполнителя</FieldLabel>
                    <InputTextArea @bind-Value="_newActor.Description" />
                </Field>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="CloseActorModalAsync">Отмена</Button>
                <Button Color="Color.Primary" Clicked="CreateActorAsync">Создать</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public EventCallback OnActorAdded { get; set; }

    private Modal _actorModal = new();
    private ActorDto _newActor = new();

    public async Task Show() => await _actorModal.Show();

    private async Task CloseActorModalAsync()
    {

        _newActor = new ActorDto();
        await _actorModal.Hide();
    }

    private async Task CreateActorAsync()
    {
        await MediaLibraryApi.CreateActor(_newActor);
        _newActor = new ActorDto();
        await _actorModal.Hide();
        await OnActorAdded.InvokeAsync();
       
    }
}
