@inject IMediaLibraryApiWrapper MediaLibraryApi

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Жанры</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="OpenCreateModal">
                    Создать
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="Genre"
                  Data="_genres"
                  Responsive
                  Striped>
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="Genre"
                                Field="@nameof(Genre.Id)"
                                Caption="Действия">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                Действия
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Clicked="() => OpenEditPageAsync(context)">
                                    Редактировать
                                </DropdownItem>
                                <DropdownItem Clicked="() => DeleteGenreAsync(context)">
                                    Удалить
                                </DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Genre"
                                Field="@nameof(Genre.Name)"
                                Caption="Название жанра">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<GenreCreateModal @ref="_genreCreateModal" OnGenreAdded="@HandleGenreListChanged" />
<GenreUpdateModal @ref="_genreUpdateModal" GenreToUpdate="_selectedGenre" Id="_selectedId" OnGenreUpdated="@HandleGenreListChanged" />

@code {
    private IEnumerable<Genre> _genres = new List<Genre>();
    private int _selectedId;
    private GenreDto? _selectedGenre;
    private GenreCreateModal _genreCreateModal = new(); 
    private GenreUpdateModal _genreUpdateModal = new(); 

    protected override async Task OnInitializedAsync()
    {
        await RefreshGenresCollection();
        await base.OnInitializedAsync();
    }

    private async Task OpenEditPageAsync(Genre context)
    {
        _selectedId = context.Id;
        _selectedGenre = new GenreDto
            {
                Name = context.Name
            };
        await _genreUpdateModal.Show();
    }

    private async Task DeleteGenreAsync(Genre context)
    {
        await MediaLibraryApi.DeleteGenre(context.Id);
        await RefreshGenresCollection();
    }

    private async Task HandleGenreListChanged()
    {
        await RefreshGenresCollection();
    }

    private async Task OpenCreateModal() => await _genreCreateModal.Show();

    private async Task RefreshGenresCollection() => _genres = await MediaLibraryApi.GetAllGenre();
}
