@inject IMediaLibraryApiWrapper MediaLibraryApi

<Modal @ref="_trackModal">
    <Alert Color="Color.Danger" @bind-Visible="_isAlertVisible">
        <AlertMessage>Список альбомов пуст или ошибка при обновлении трека!</AlertMessage>
    </Alert>
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Изменить трек</ModalTitle>
                <CloseButton Clicked="CloseTrackModalAsync" />
            </ModalHeader>

            <ModalBody>
                @if (TrackToUpdate != null)
                {
                    <Field>
                        <FieldLabel>Выберите альбом</FieldLabel>
                        <Select TValue="int" @bind-SelectedValue="TrackToUpdate!.AlbumId">
                            @if (_albums != null)
                            {
                                @foreach (var album in _albums)
                                {
                                    <SelectItem Value="@album.Id">@($"{album.Id} | {album.Name}")</SelectItem>
                                }
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>Номер трека</FieldLabel>
                        <InputNumber TValue="int" @bind-Value="TrackToUpdate.Number" />
                    </Field>
                    <Field>
                        <FieldLabel>Название трека</FieldLabel>
                        <TextEdit @bind-Text="TrackToUpdate.Name" />
                    </Field>
                    <Field>
                        <FieldLabel>Продолжительность трека</FieldLabel>
                        <InputText @bind-Value="TrackToUpdate.Time" />
                    </Field>
                }
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="CloseTrackModalAsync">Отмена</Button>
                <Button Color="Color.Primary" Clicked="UpdateTrackAsync">Изменить</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public EventCallback OnTrackUpdated { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public TrackDto? TrackToUpdate { get; set; }
    private IEnumerable<Album>? _albums;
    private Modal _trackModal = new();
    private bool _isAlertVisible = false;

    public async Task Show()
    {
        await LoadAlbumsAsync();
        TrackToUpdate!.Time = TimeSpan.Zero.ToString(@"hh\:mm\:ss");
        await _trackModal.Show();
    }

    private async Task CloseTrackModalAsync()
    {
        _isAlertVisible = false;
        TrackToUpdate = new();
        await _trackModal.Hide();
    }

    private async Task LoadAlbumsAsync()
    {
        _albums = await MediaLibraryApi.GetAllAlbum();
        if (_albums.FirstOrDefault() is null)
        {
            TrackToUpdate!.AlbumId = 0;
        }
        else
        {
            TrackToUpdate!.AlbumId = _albums.FirstOrDefault()!.Id;
        }
    }

    private async Task UpdateTrackAsync()
    {
        try
        {
            await MediaLibraryApi.UpdateTrack(Id, TrackToUpdate!);
            await CloseTrackModalAsync();
            await OnTrackUpdated.InvokeAsync();
        }
        catch
        {
            _isAlertVisible = true;
        }
    }
}
